.portofolio_heading_medium{
  left:10%;
  top:80%;
}

.small_project:hover img{
  filter:invert(1800%) sepia(130%) saturate(100%) hue-rotate(249deg) brightness(101%) contrast(204%) !important;
}

.arrow_change_color:hover img{
  filter:invert(180%) sepia(130%) saturate(100%) hue-rotate(249deg) brightness(1000%) contrast(104%) !important;
}

.arrow_change_color:hover p{
  color:white;
}
.text-center{
  text-align:center;
}
.slideshow_description{
  font-size:18px;
}
.padding-right-10{
  padding-right:10%;
}
.portfolio_image{


}
.custom_row_big{
  width:95%;
  margin-left:2.5%;
}

.small_project:hover{
  border-color: orange !important;
  bottom:20px;
  animation: move_up .5s 1 ease-in;

}

.skill_container:hover img {
  filter:  grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  border-color: #FFBD59;

  color:#FFBD59;
}

.skill_container:hover  {
  border-color: orange;

  color:orange;
}

.icon_change_color:hover p{
  color:white !important;
}

.small_project{
  border:2px solid #041115;
  bottom:0px;
  position:relative;
  animation: move_down .5s 1 ease-out;
  background:#041115;
  padding:1%;
}

.portofolio_heading_small{
  left:10%;
  top:90%;
}

.profile_item:hover{
  background:#e6e6e6 !important;
  color:black !important;
}

.profile_item{
  border:none !important;
  font-size:20px !important;
  background:black !important;
  color: white !important;
}

.profile_dropdown{
  font-size:20px;
  background:black !important;
  color:orange !important;
}

.view_source_heading{
  font-size:40px;
}

.project-details li {
  list-style-type: none;
}

.line{
  transform:rotate(90deg);
  background:#FFBD59;
  width:10%;
  height:2px;
  margin-left:45%;
  margin-top:10%;
  margin-bottom:5%;
}

.portfolio_box{
  height:500px;
  transition: all .5s ease-in;
  background-position: center;
}

.portfolio_box_child{
  background-position: center;
  transition: all .5s ease-in;
}
.project_image{
  height:500px;
}

.portfolio_box:hover .portfolio_box_child  {
  transform:scale(1.1);
}

.portfolio_box:hover .overlay{
  opacity:.9 !important;
  transition: all .5s ease-in;
}

.portfolio_box:hover   .profile_box_child > p{
  opacity:1;
}


@keyframes move_up {
  0%{
    bottom:0px;
    border-color:#041115;
  }
  50%{
    border-color:orange;
  }
  100%{
    bottom:20px;
    border-color:purple;
  }
}
.transition_upward {
  animation-name: transition_upward_slow;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.slideshow_video_transition{
  animation-name: slideshow_video_transition;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes move_down {
  0%{
    bottom:20px;
    border-color:purple;
  }
  50%{
    border-color:orange;
  }
  100%{
    bottom:0px;
    border-color:#041115;
  }
}
.slideshow_text_transition{
  animation-name: slideshow_text_transition;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.slideshow_title_transition{
  animation-name: slideshow_title_transition;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.inactive {
  opacity:0 !important;
}


.active_transition {
  opacity:1 !important;
  animation-name: active_transition;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}


@keyframes transition_upward_slow {
  0%{
    opacity:0;
    position:relative;
    bottom:50px;
  }
  50%{
    opacity:0;
  }
  80%{
    opacity:.5;
    position:relative;

  }
  100%{
    position:relative;
    opacity:1;
    bottom:0px;
  }
}

@keyframes transition_upward {
  0%{
    opacity:0;
    position:relative;
    bottom:50px;
  }
  50%{
    opacity:.5;
  }

  100%{
    position:relative;
    opacity:1;
    bottom:0px;
  }
}
@keyframes active_transition {
  0%{
    opacity:0 ;

  }
  50%{
    opacity:.5 ;
  }

  100%{

    opacity:1 ;

  }
}


@keyframes slideshow_video_transition {
  0%{
    opacity:0;
    transform:rotateY(-90deg);
  }
  50%{
    opacity:.5;
  }
  100%{
    transform:rotateY(0deg);
    opacity:1;

  }
}

@keyframes slideshow_text_transition {
  0%{
    opacity:0;
    position:relative;
    top:100px;
  }
  50%{
    opacity:.5;
  }
  100%{
    opacity:1;
    position:relative;
    top:0px;

  }
}

@keyframes slideshow_title_transition {
  0%{
    opacity:0;
    position:relative;
    right:100px;
  }
  50%{
    opacity:.5;
  }
  100%{
    opacity:1;
    position:relative;
    right:0px;

  }
}
